.title {
   
    background-color: hwb(199 54% 7%);
    
 
}

.img1{
    width: 90px;
    
}

.sisten{

  margin: 0px;
  

}

.sisten {

    margin: 0px;
}


.sot-impor{
    color: cornflowerblue;
   font-family: 'Times New Roman';
   margin: 0px;
   
}

h2 {
    font-size: 15px;
    font-weight: 2;
    font-family: 'Times New Roman';
}


.img2 {
    width: 500px;
}
.img3 {
    width: 428px;
}

h3{
    font-weight: 50;
    font-size: 10px;
}
.risal {
    background-color: yellow;
    font-weight: 300;
}

.allin {
    text-align: left;
}

table, th, td {
    border: 1px solid;
  }

  table {
    width: 90%;
  }

  .barra {
    background-color: hwb(214 47% 1%);
    color: white;
  }

  

  .barra-2 {
    background-color:hsla(224, 22%, 90%, 0.959)
  }
  .finish{ 
    text-align: center;
    background-color: blue;
    height: 100px;
    width: 100%;
    border: 0cm;
  }
  .color {
    color: white
  }
  